<form action="/genres/edit/<%= genre._id %>" method="POST">
  <h3>Edit Genre</h3>
  <div>
    <input type="text" name="genre" value="<%= genre.genre %>" />
  </div>
  <button type="submit">Submit</button>
</form>