<form action="/actors/create" method="POST">
  <h3>Add Actor</h3>
  <div>
    <input type="text" name="firstname" placeholder="First Name" />
  </div>
  <div>
    <input type="text" name="lastname" placeholder="Last Name" />
  </div>
  <button type="submit">Submit</button>
</form>